body {
    background: linear-gradient(to right, #4d6aa1, #77a7f8);
}

#header {
    text-align: center;
    color: black;
    font-size: 2em;
}

#first-row {
    margin-top: 20px;
}


.separator {
    background: none !important;
    border: none !important;
}

#grid-wrapper {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
}

.card {
    aspect-ratio: 1;
    align-content: center;
    justify-content: center;
    font-size: 1.5em;
    cursor: pointer;
    max-width: 111.5px;
    text-align: center;
    min-width: 100px !important;
    padding: 0 !important;
}

#bubble {
    background-color : lightskyblue;
}

#selection {
    background-color : pink;
}

#insertion {
    background-color : orange;
}

#quick {
    background-color : yellow;
}

#radix {
    background-color : green;
}
#counting {
    background-color : red;
}